<footer class="footer footer-2 footer-five">

    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Quick Links</h2>
                        <ul>
                            <li><a href="index-8.html#">About Us</a></li>
                            <li><a href="index-8.html#">Our Mission</a></li>
                            <li><a href="index-8.html#">Our Approach</a></li>
                            <li><a href="index-8.html#">Our History</a></li>
                            <li><a href="index-8.html#">Awards And Achievements</a></li>
                            <li><a href="index-8.html#">Careers</a></li>
                            <li><a href="index-8.html#">Appointment</a></li>
                            <li><a href="index-8.html#">Facilities</a></li>
                            <li><a href="index-8.html#">Pricing Plans</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="assets/assetsdental/img/footer-logo.png" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="footer-widget footer-contact mt-4">
                            <h2 class="footer-title">Our Location</h2>
                            <div class="footer-contact-info">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                                </div>
                                <p>
                                <i class="fas fa-phone-alt"></i>
                                +1 315 369 5943
                                </p>
                                <p class="mb-0">
                                <i class="fas fa-envelope"></i>
                                <a href="../cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7c18131f1f090e193c19041d110c1019521f1311">[email&#160;protected]</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Services</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><a href="index-8.html#">Cardiology</a></li>
                                    <li><a href="index-8.html#">Diabetes</a></li>
                                    <li><a href="index-8.html#">Plastic Surgery</a></li>
                                    <li><a href="index-8.html#">Gastroenterology</a></li>
                                    <li><a href="index-8.html#">Gynecology</a></li>
                                    <li><a href="index-8.html#">Hepatology</a></li>
                                    <li><a href="index-8.html#">Neurology</a></li>
                                    <li><a href="index-8.html#">Radiology</a></li>
                                    <li><a href="index-8.html#">Rhinology</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><a href="index-8.html#">Obstetrics</a></li>
                                    <li><a href="index-8.html#">Ophthalmology</a></li>
                                    <li><a href="index-8.html#">Oral Health</a></li>
                                    <li><a href="index-8.html#">Orthopedics</a></li>
                                    <li><a href="index-8.html#">Osteology</a></li>
                                    <li><a href="index-8.html#">Otology</a></li>
                                    <li><a href="index-8.html#">Pediatrics</a></li>
                                    <li><a href="index-8.html#">Psychiatry</a></li>
                                    <li><a href="index-8.html#">Pulmonology</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Patients</h2>
                        <ul>
                            <li><a href="search.html">Search for Doctors</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="booking.html">Booking</a></li>
                            <li><a href="patient-dashboard.html">Patient Dashboard</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Doctors</h2>
                        <ul>
                            <li><a href="appointments.html">Appointments</a></li>
                            <li><a href="chat.html">Chat</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="doctor-register.html">Register</a></li>
                            <li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
    <div class="container-fluid">

    <div class="copyright">
    <div class="row">
    <div class="col-md-6 col-lg-6">
    <div class="copyright-text">
    <p class="mb-0">&copy; 2020 <span>Doccure</span>. All rights reserved.</p>
    </div>
    </div>
    <div class="col-md-6 col-lg-6">

    <div class="copyright-menu">
    <ul class="policy-menu">
    <li><a href="term-condition.html">Terms and Conditions</a></li>
    <li><a href="privacy-policy.html">Policy</a></li>
    </ul>
    </div>

    </div>
    </div>
    </div>

    </div>
    </div>

</footer>
