        <section class="section section-search">
                <div class="container-fluid">
                    <div class="banner-wrapper">
                        <div class="banner-header text-center">
                            <h1>Tu Dentista de Urgencias<br> en 3 sencillos pasos</h1>
                            <p>Comunicación rápida y directa <br> con tu profesional</p>
                        </div>
                        <div class="view-all text-center">
                        <a routerLink="/register" class="btn btn-primary">Acceder</a>
                       </div>

                    

                    </div>
                </div>
            </section>